.shopping-main {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 35px 20px 100px;
}
.shopping-left {
  display: flex;
  justify-content: end;

  /* width: 65%; */
}
.shopping-right {
  display: flex;
  justify-content: center !important;
  
}
.free-img {
  /* position: relative; */
  /* right: 300px; */

  width: 100px;
  height: 66px;
}
.fre-h3 {
  color: #ffffff;
  font-size: 20px;
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  font-style: var(--heading-font-style);
  text-align: center;
  line-height: 35px;
}
